.trailer-row-card{  
    margin-left: 20px;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    /* transition-duration: 0.4s;
    transition-delay: 0.3s; */
    background-size:cover ;
    background-position: center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.wrap{
    width: 200px;
    height: 200px;
    margin: 0;  
    
}
.castTitle {
    font-size: 20px;
    font-weight: bold;
}


@media only screen and (max-width:667px) {
    .row-card{  
        border-radius: 80px;
        width: 160px;
        height: 160px;
        /* transition-duration: 0.4s;
        transition-delay: 0.3s; */
        background-size:cover ;
        background-position: center;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
        
        
    }
    
    .wrap{
        width: 160;
        height: 160;
        margin: 0;  
        
    }
    
    .card-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-size: 6px;
        
    }

    .card-content>p,h3{
        margin-left: 10px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .row-card{  
        border-radius: 75px;
        width: 150px;
        height: 150px;
        transition-duration: 0.4s;
        transition-delay: 0.3s;
        background-size:cover ;
        background-position: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .wrap{
        width: 150px;
        height: 150px;
        margin: 0;  
        
    }
    .card-content{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-size: 6px;
        
    }
    .card-content>p,h3{
        margin-left: 10px;
    }
}